<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucas.iplay" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.IplayApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".ui.EntranceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.PostNewActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".ui.DetailsActivity"
            android:label="Details"
            android:logo="@drawable/ic_back">
            </activity>

        <provider
            android:name=".core.DataProvider"
            android:authorities="com.ucas.iplay"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".ui.UserActivity"
            android:label="@string/title_activity_user" >

        </activity>
    </application>

</manifest>
